{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Registered Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.id }}</td> 
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
